.advantages {
  font-family: inherit;
  background-color: $white;
  background-image: linear-gradient(175deg, $white 24%, $section-background 24%, $section-background 100%);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(175.4deg, $white 37.4%, $section-background 37.4%, $section-background 100%);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175deg, $white 42%, $section-background 42%, $section-background 100%);
  }
}

.advantages__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 62px;
  }
}

.advantages__title--padding {
  padding-top: 29px;
  padding-bottom: 95px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.advantages__image {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }


  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 310px;
    margin: 52px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    min-height: 570px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 22px;
  }
}

.advantages__item {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.advantages__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 22px;
  }
}

.advantages__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__big-picture {
  display: block;

  @media (min-width: $tablet-width) {
    width: 268px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__br-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__br-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
