.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $section-background;
  padding-top: 20px;
  padding-bottom: 41px;
  box-sizing: border-box;

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  &__button-send {
    display: flex;
    justify-content: center;
    min-width: 280px;
    color: $pink;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    border: 3px solid $pink;
    border-radius: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
  }

  &__button-cancel {
    display: flex;
    justify-content: center;
    min-width: 280px;
    color: $blue-opacity;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    border: 3px solid $blue-opacity;
    border-radius: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
  }
}
