.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $section-background;
  padding-top: 20px;
  padding-bottom: 41px;
  box-sizing: border-box;

  &__wrapper {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content;
    }
  }

  &__picture {
    @media (min-width: $tablet-width) {
      grid-row: 1/-1;
      grid-column: 1/2;
    }
  }

  &__tools {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }

  &__button-send {
    display: flex;
    justify-content: center;
    min-width: 280px;
    color: $pink;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    border: 3px solid $pink;
    border-radius: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
  }

  &__button-cancel {
    display: flex;
    justify-content: center;
    min-width: 280px;
    color: $blue-opacity;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    border: 3px solid $blue-opacity;
    border-radius: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
  }
}
