.form {
  display: flex;
  flex-direction: column;
}

.form legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 41px;
  background-color: inherit;
  box-sizing: border-box;
}

.form__person {
  border: none;
  margin: 0;
  padding: 0;
}

.form__person-surname,
.form__person-name,
.form__person-middlename {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
  }
}

.form__person label {
  color: $pink;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
    margin-bottom: 0;
  }
}

.form__person-input {
  font-size: 18px;
  box-sizing: border-box;
  padding: 17px 0 18px 24px;
  min-height: 59px;
  border: 2px solid $form-border;
  border-radius: 1px;
  margin: 0;
  margin-bottom: 29px;

  &::-webkit-input-placeholder {
    color: $basic-blue;
  }

  &::-moz-placeholder {
    color: $basic-blue;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.form__achievements {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  background-color: $section-background;
}

.form__achievements legend {
  padding-top: 30px;
}

.form__achievements-list {
  list-style: none;
  padding: 0 20px 0 20px;
  margin: 0;
}

.form__achievements-item {
  margin-bottom: 47px;
}

.form__achievements-item label {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__contacts {
  border: none;
  margin: 0;
  padding: 35px 20px 26px 20px;
}

.form__contacts legend {
  display: none;
}

.form__contacts label {
  color: $pink;
  text-transform: uppercase;
}

.form__contacts input {
  font-size: 18px;
  box-sizing: border-box;
  padding: 17px 0 18px 24px;
  min-height: 59px;
  border: 2px solid $form-border;
  border-radius: 1px;
  margin-bottom: 29px;

  &::-webkit-input-placeholder {
    color: $basic-blue;
  }

  &::-moz-placeholder {
    color: $basic-blue;
    opacity: 1;
  }
}

.form__contacts-phone,
.form__contacts-email {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  background-color: $section-background;
  padding-top: 42px;
}

.form__apps {
  border: none;
  margin: 0;
  padding: 0;
  background-color: $section-background;
  padding-bottom: 20px;
}

.form__apps legend {
  padding-top: 40px;
}

.form__apps-list {
  padding: 0 20px 0 20px;
  margin: 0;
  list-style: none;
}

.form__apps-item {
  margin-bottom: 38px;
}

.form__apps-item label {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form__review {
  border: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.form__review legend {
  margin-bottom: 14px;
}

.form__review textarea {
  width: 100%;
  min-height: 201px;
  resize: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $basic-blue;
  padding-left: 20px;
  padding-top: 13px;
  box-sizing: border-box;
  border: 2px solid $form-border;
}

.form__send-button {
  min-width: 276px;
  margin-top: 40px;
  text-transform: uppercase;
}

.form__note {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 33px;
}

.form__note span {
  color: $pink;
}

@media (min-width: $tablet-width) {
  .form__person {
    order: 0;
  }

  .form__achievements {
    order: 3;
  }

  .form__apps {
    order: 1;
  }

  .form__contacts {
    order: 2;
  }

  .form__review {
    order: 4;
  }

  .form__send {
    order: 5;
  }
}
