.main-nav__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  background-color: $basic-blue;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $black;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
}

.main-nav__item a {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
}
