.main-nav {
  position: relative;

  &--nojs {
    .main-nav__toggle {
      display: none;
    }
  }

  &--closed {
    .main-nav__wrapper {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    .main-nav__toggle {
      position: absolute;
      width: 50px;
      height: 24px;
      top: -45px;
      right: 0;
      margin-right: 17px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 4px;
        top: 0;
        right: 3px;
        background-color: $white;
        transform: none;
        box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
      }

      &::after {
        display: none;
      }

      @media (min-width: $tablet-width) {
        top: -67px;
      }
    }
  }
}

.main-nav__wrapper {
  margin: 0 auto;
  background-color: $basic-blue;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  box-sizing: border-box;
  min-height: 64px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid $black;
  border-top: 1px solid $menu-item-border;

  @media (min-width: $desktop-width) {
    border: none;
    padding: 8px 0 6px 0;
    min-height: 42px;
  }

  &--current {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $white;
    }
  }
}

.main-nav__item a {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $white;
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 23px;
  height: 23px;
  top: -47px;
  right: 0;
  margin-right: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 3px;
    background-color: $white;
    transform: rotate(45deg);
    right: 0;
    top: 10px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 29px;
    height: 3px;
    background-color: $white;
    transform: rotate(-45deg);
    right: 0;
    top: 10px;
  }

  @media (min-width: $tablet-width) {
    top: -67px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: transparent;
  }

  .main-nav__list {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item a {
    font-weight: 400;
    text-transform: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
