.page-header {
  // display: flex;
  // flex-direction: column;
  background-color: $header-background;
  color: #ffffff;
}

.page-header__logo img {
  height: 23px;
  margin-top: 23px;
  padding-left: 20px;
}
