.page-footer {
  // padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    // padding-bottom: 18px;
    min-height: 127px;
  }

  @media (min-width: $desktop-width) {
    // padding-bottom: 51px;
    min-height: 197px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.page-footer__logo-link {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }

  &:hover path {
    fill: $pink;
  }

  &:active path {
    fill: $basic-blue;
    opacity: 0.3;
  }
}

.page-footer__logo {
  fill: $basic-blue;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $basic-blue;
    opacity: 0.3;
  }

  &--mobile {
    display: block;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
      // padding-left: 0;
    }
  }
}

.page-footer__social {
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    margin-left: -14px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-top: -2px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  // padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-footer__copyright-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 6px;
  }
}

.page-footer__copyright-link {
  margin-top: 6px;
  fill: $pink;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }

  &:hover {
    fill: $basic-blue;
  }

  &:active {
    fill: $basic-blue;
    opacity: 0.3;
  }
}
