.page-header {
  color: #ffffff;
  position: relative;
  width: 100%;

  @media (min-width: $desktop-width) {
    background-color: $header-background;
    position: absolute;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $basic-blue;
  box-sizing: border-box;
  border-bottom: 1px solid $black;

  @media (min-width: $desktop-width) {
    background-color: transparent;
    border-bottom: 0;
    z-index: 2;
  }
}

.page-header__logo {
  // height: 23px;
  padding-left: 20px;
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }

  &--mobile {
    padding-top: 23px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
      padding-top: 27px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
      padding-top: 27px;
      padding-left: 0;
    }
  }
}

.page-header__logo-link {
  min-height: 69px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 109px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: $desktop-width;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

// @media (min-width: $desktop-width) {
//   .page-header__wrapper {
//     flex-direction: row;
//     justify-content: space-between;
//     width: $desktop-width;
//     margin: 0 auto;
//     padding-left: 10px;
//     padding-right: 10px;
//   }
// }
