.price {
  padding-bottom: 46px;
  padding-top: 42px;
  background-color: #ffffff;
  background-image: linear-gradient(176deg, #ffffff 10%, #f2f2f2 10%, #f2f2f2 100%);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(176.4deg, #ffffff 12.5%, #f2f2f2 12.5%, #f2f2f2 100%);
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175deg, #ffffff 16.5%, #f2f2f2 16.5%, #f2f2f2 100%);
    padding-bottom: 97px;
  }
}

.price__wrapper {
  padding-top: 90px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
  }
}

.price__toggles {
  padding-top: 39px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__toggle {
  width: 6px;
  height: 6px;
  background-color: $toggle;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin-right: 16px;
  cursor: pointer;
}

.price__toggle:last-child {
  margin-right: 0;
}

.price__toggle--current {
  width: 12px;
  height: 12px;
  border: 3px solid $basic-blue;
  background-color: $white;
}
