.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5px;
  width: 184px;
  list-style: none;
  padding: 0;
  margin: 0;
  // margin-bottom: 41px;
  box-sizing: border-box;
}

.social__item {
  box-sizing: border-box;
  margin-right: 6px;

  @media (min-width: $desktop-width) {
    margin-right: 3px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $white;
  border-radius: 50%;
  border: 3px solid $social-border;
  margin-right: 2px;

  &:hover {
    border: 3px solid $basic-blue;
  }

  &:active {
    border: 3px solid $blue-opacity;
    opacity: 0.3;
  }
}
