.table {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border-collapse: collapse;
  margin: 0 auto;
}

.table__head {
  background-color: $basic-blue;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

.table__head td {
  padding: 10px 20px 10px 20px;
}

.table__cell {
  border: 2px solid $table-border;
  padding: 14px 20px 14px 20px;
}

.table__cell-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.table__cell-cost {
  font-size: 18px;
  margin: 0;
}

.table__body {
  background-color: $white;
  text-transform: uppercase;
}

.table__cell--hidden {
  border: none;
  background-color: $section-background;
}
