.tools__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 162px;
  padding: 8px 51px 34px 39px;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 275px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: none;
    padding: 0;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.tools__label {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 65px;
    align-items: center;

    &:first-child {
      margin-bottom: 8px;
    }

    &:nth-child(2) {
      margin-bottom: 5px;
    }
  }
}

.tools__image {
  fill: $basic-blue;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    margin-right: 29px;
    margin-left: 4px;
    fill: $pink;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    margin-right: 48px;
    margin-left: 0;
  }

  &:hover {
    opacity: 0.5;

    @media (min-width: $tablet-width) {
      opacity: 1;
    }
  }
}

.tools__image--crop {
  width: 44px;
  height: 44px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.tools__image--fill {
  width: 48px;
  height: 43px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 22px;
    margin: 3px 28px 0 3px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
    margin: 0 44px 0 0;
  }
}

.tools__image--contrast {
  width: 32px;
  height: 32px;

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    margin-right: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    margin-right: 54px;
  }
}

.tools__image--current {
  fill: $pink;
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}


.tools__control {
  display: none;
  position: absolute;
  width: 240px;
  height: 2px;
  background-color: $basic-blue;
  top: 125px;
  left: 40px;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: 202px;
    margin-left: auto;
    margin-right: 18px;
    top: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.tools__control--current {
  display: block;
}

.tools__control::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: 275px;
    left: -55px;
    height: 1px;
    background-color: $blue-opacity;
    bottom: -35px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 408px;
    left: -90px;
  }
}

.tools__control--current .tools__toggle {
  display: block;
}


.tools__toggle {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid $pink;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    background-color: $pink;
  }
}

.tools__toggle--crop {
  top: -5px;
  left: 193px;

  @media (min-width: $tablet-width) {
    left: 146px;
  }

  @media (min-width: $desktop-width) {
    left: 69px;
    top: -6px;
  }
}

.tools__toggle--fill {
  top: -5px;
  left: 30px;

  @media (min-width: $tablet-width) {
    left: 25px;
  }

  @media (min-width: $desktop-width) {
    left: 247px;
    top: -6px;
  }
}

.tools__toggle--contrast {
  top: -5px;
  left: 120px;

  @media (min-width: $tablet-width) {
    left: 96px;
  }

  @media (min-width: $desktop-width) {
    left: 160px;
    top: -6px;
  }
}
