.top-photo {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__author {
    font-weight: 700;
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__comment {
    margin: 0;

    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }

  &__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 18px 10px 19px 17px;
    background-color: $section-background;

    @media (min-width: $tablet-width) {
      display: flex;
      width: 620px;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-between;
      padding: 23px 30px 25px 30px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }
}
