//Colors
$white: #ffffff;
$black: #000000;
$pink: #d22856;
$basic-blue: #283645;

$header-background: rgba(0, 0, 0, 0.3);
$intro-background: #1d2631;
$section-background:  #f2f2f2;
$table-border: #e5e5e5;
$form-border: #e5e5e5;
$social-border: rgba(40, 54, 69, 0.1);
$toggle: rgba(40, 54, 69, 0.3);
$send-button: #2aab6d;

//Viewports
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 659px;
