//Colors
$white: #ffffff;
$black: #000000;
$pink: #d22856;
$basic-blue: #283645;
$basic-gray: #e5e5e5;
$blue-opacity: rgba(40, 54, 69, 0.1);

$header-background: rgba(0, 0, 0, 0.3);
$intro-background: #1d2631;
$section-background:  #f2f2f2;
$menu-item-border: rgba(255, 255, 255, 0.15);
$table-border: #e5e5e5;
$form-border: #e5e5e5;
$checkbox-border: #e5e5e5;
$social-border: rgba(40, 54, 69, 0.1);
$toggle: rgba(40, 54, 69, 0.3);
$send-button: #2aab6d;
$send-button-hover: #1c9b5e;
$send-button-active: rgba(255, 255, 255, 0.3);
$cancel-button-hover: rgba(40, 54, 69, 0.3);
$pink-opacity: rgba(210, 40, 86, 0.3);

//Viewports
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 659px;
